Users list
<ul id="menu">
<% User.all.each do |u| %>
<li> <%= u.email %> </li>
<% end %>
</h3>

<hr>

<%= form_tag test_mail_path do%>
Email : </br><%= text_field_tag 'email', ''%></br>
<%= submit_tag "submit",:value => "submit"%>
<%end%>
